$header-single-margin-bottom: 15px;
$header-dual-gap: 5px; // gap between two consecutive headers

h1, h2, h3, h4, h5 {
	margin: 0.5em 0 $header-single-margin-bottom 0;
}
h5 {
	font-weight: 600;
}

h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h2 + h3,
h2 + h4,
h2 + h5,
h3 + h4,
h3 + h5,
h4 + h5 {
	margin-top: ($header-dual-gap - $header-single-margin-bottom);
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
	display: block;
}

p {
	font-size: 14pt;
	line-height: 1.4em;
	font-weight: 300;
}

@media (max-width: $screen-xs-max) {
	h1 { font-size: $font-size-h1 * 0.5; }
	h2 { font-size: $font-size-h2 * 0.5; }
	h3 { font-size: $font-size-h3 * 0.5; }
	h4 { font-size: $font-size-h4 * 0.5; }
	h5 { font-size: $font-size-h5 * 0.5; }
	h6 { font-size: $font-size-h6 * 0.5; }
	p  { font-size: 11pt; }
}

p {
	em, i {
		background-color: yellow;
	}
	a {
	  text-decoration: none;
		background-color: lighten($brand-primary, 27%);

	  &:hover,
	  &.active {
	    color: white;
	    text-decoration: none;
	  }
	  &:hover {
	    background: rgba($brand-primary, 0.7);
	  }
	  &:active {
	    background: $brand-primary;
	  }
	}
}

.text {
  &-muted 	{ color: $gray; background-color: lighten($gray, 60%); }
  &-primary { color: $brand-primary; background-color: lighten($brand-primary, 25%); }
  &-warning { color: $brand-warning; background-color: lighten($brand-warning, 37%); }
  &-danger 	{ color: $brand-danger; background-color: lighten($brand-danger, 35%); }
  &-success { color: $brand-success; background-color: lighten($brand-success, 50%); }
  &-info 		{ color: $brand-info; background-color: lighten($brand-info, 55%); }
}